* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global Usage */

.d-flex {
  display: flex;
}

.v-flex {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.heading-text {
  font-size: 1.5rem;
  color: #f42;
  font-family: "ARS Maquette", "Helvetica Neue",Arial,sans-serif;
}

.heading-text:hover {
  color: black;
}

.b-color {
  color: black;
}

.w-color {
  color: white;
}

.r-color {
  color: #f42;
}

.g-color {
  color: gray;
}

.grid {
  display: grid;
}

.mg-color {
  color: #555;
}

/* Header */

.navbar-top {
  justify-content: space-between;
  background-color: black;
  height: 1.5rem;
  font-size: 0.8rem;
  align-items: center;
  padding: 0 1.0rem;
}

.navbar-top ul li a:hover {
  color: white;
}

.right li{
  padding-left: 1.2rem;
}

.left li{
  padding-right: 1.2rem;
}

.navbar-bottom {
  justify-content: space-between;
  padding: 0 1.0rem;
  align-items: center;
  font-size: 1.0rem;
  height: 3rem;
  /* position: fixed;
  z-index: 999; */
}

.bottom-left li {
  padding-right: 1.5rem;
}

.bottom-right {
  align-items: center;
}

.bottom-right li {
  padding-left: 1.5rem;
}

.bottom-right li img {
  width: 5rem;
  height: 1.2rem;
}

button {
  height: 2rem;
  width: 6rem;
  border-radius: 2px;
  background-color: #0cc;
  border: none;
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

button:hover {
  background-color: #9925cf;
}

.nav-below {
  background-color: #fd3;
  padding: 0 1.0rem;
  height: 1.5rem;
  /* position: fixed;
  z-index: 999; */
}

.nav-below p {
  padding-top: 0.2rem;
  font-size: 0.9rem;
}

main {
  width: 98%;
  margin: 0.2rem 0.8rem;
}

.main-news {
  grid-template-areas: 
  'main top'
  'main bottom';
  grid-template-columns: 64% 34%;
  grid-template-rows: 200px 200px;
}

.big-picture {
  grid-area: main;
  background-image: 
      linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(31, 22, 29, 0.73)),
      url(images/1-32-796x417.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  margin-right: 0.8rem;
  position: relative;
  height: 400px;
}

.small-picture {
  width: 34%;
  margin-left: 0.3rem;
  height: 500px;
}

.small-picture div img {
  width: 100%;
  height: 100%;
}

.main-big-pic {
  position: relative;
}

.details {
  position: absolute;
}

.title-details {
  justify-content: space-around;
  margin: 5% 0 0 1.5rem;
}

.title-details span {
  font-size: 1rem;
}

.title-details h2 {
  font-size: 3rem;
}

.author {
  font-size: 0.5rem;
}

.author a:hover {
  color: white;
}

.side-pic {
  background-image: 
      linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(31, 22, 29, 0.73)),
      url(images/TNW2020-feature.jpg);
  grid-area: top;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 200px;
  
}

.side-pic2 {
  background-image: 
      linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(31, 22, 29, 0.73)),
      url(images/Untitled-design-13-796x417.jpg);
  grid-area: bottom;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 200px;
}

.side-pic h3 a {
  position: absolute;
  bottom: 1.5rem;
}

#side-top {
  height: 15.8rem;
}

/* Latest news section */

.latestn-section {
  width: 80%;
  margin: 5rem auto;

}

.latest-news {
  border: 1px solid gray;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  grid-template-rows: repeat(2, 15.75rem);
  grid-column-gap: 1rem;
  grid-row-gap: 0.1rem;
}

.latest-news img {
  width: 100%;
  height: 10rem;
}

.d-title {
  font-size: 0.75em;
  font-weight: bold;
}

.bottom-info {
  font-size: 0.70em;
  width: 100%;
}

.d-title:hover {
  color: #f42;
  text-decoration: underline;
}

.funds-section {
  width: 80%;
  margin: 1rem auto;
}

.title-section {
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.funds-menu a:hover{
  color: black;
}

.funds-art {
  border: 1px solid gray;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  grid-template-rows: repeat(1, 18.75rem);
  grid-column-gap: 1rem;
  grid-row-gap: 0.1rem;
}

.title-funds {
}

.title-funds h4 {
  width: 100%;
  background-color: #f42;
  padding: 1rem 0 1rem 1rem;
}

.funds-img {
  width: 3rem;
  height: 3rem;
  float: left;
  margin: 1rem 0.5rem 0 1rem;
}

.title-funds span {
  display: block;
  background-color: rgba(255,68,34,.08);
  font-size: 0.75em;
  padding: 0.5rem 0 0.5rem 4.4rem;
}

.second-part a {
  text-align: left;
  display: block;
}

.border {
  width: 100%;
  border: 0.5px solid rgba(255,68,34,.25);
}

.second-part {
  background-color:rgba(255, 239, 237, 0.55);
}

.a-tags {
  padding: 1rem 0 1rem 0.5rem;
  font-size: 0.75em;
  line-height: 3em;
}

.end-tags {
  font-size: 0.65em;
  padding: 1rem 0.5rem 2.5rem 0.5rem;
}

.other-tech {
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  grid-template-rows: repeat(3, 31.25rem);
  grid-gap: 1rem;
}

.single {
  max-width: 21.875rem;
}

.first-picture {
  width: 20rem;
  height: 12.5rem;
  background-image: 
      linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(31, 22, 29, 0.73)),
      url(images/bitcoin.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 4rem;
  
}

.mid-section {
  flex-direction: row-reverse;
  max-width: 20rem;
  height: 70px;
}

.mid-section div img {
  width: 5rem;
  height: 100%;
}

.another {
  text-align: left;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 0.5rem ;
  width: 500px;
}

.another p {
  line-height: 0.8rem;
  width: 14rem;
  font-size: 1rem;
}

.list-info {
  width: 20rem;
}

.list-info ul li {
  list-style-type: disc;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.footer-top {
  background-color: #555;
  height: 10rem;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.footer-top ul li {
  padding-left: 2rem;
}

.footer-top ul li a:hover {
  color: white;
}

.top-icons li a {
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: gray;
  padding: 7px;
  border-radius: 50%;
  
}

.top-icons li a:hover {
  background-color: #555;
  border: 1px solid gray;
}

.footer-bottom {
  text-align: center;
  height: 6rem;
  padding-top: 3rem;
  background-color: #000;
}

.footer-bottom a img {
  height: 1rem;
  width: 2rem;
  color: white;
}

.accessible {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: white;
  background-color: blue;
  border-radius: 60%;
}

.bottom-icons {
  padding: 1.5rem 0;
}